.ucllogo {
  position: fixed;
  bottom: 50;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.15; /* İstenirse resmin şeffaflığı ayarlanabilir */
  height: 700px;
}

body {
  background: linear-gradient(
    to top right,
    #ff13fc,
    #9225fe,
    #1938fe,
    #00004b
  ); /* Sol alttan sağ üste gradient geçiş */
  height: 100vh; /* Ekranın tamamını kapla */
}
#drawContainer {
  display: flex;
  justify-content: center; /* Ekranın sağ üstüne hizala */
  align-items: flex-start; /* Ekranın üst kısmına hizala */
  margin-top: 20px;
}

/* Her bir tabloya padding uygula */
#drawContainer table {
  margin: 0 5px; /* Sağ ve sol tarafında 5px boşluk bırak */
  width: 180px; /* Tabloların genişliğini azalt */
  border-collapse: collapse; /* Hücre sınırlarını birleştir */
  color: #fff; /* Beyaz yazı */
  border: none; /* Border'ı kaldır */
}

/* Tablo başlık stil */
#drawContainer th,
#drawContainer td {
  text-align: center;
  border: none; /* Border'ı kaldır */
}

/* Başlık hücreleri */
#drawContainer th {
  background-color: #151f35; /* Slightly darker blue for headings */
  font-weight: bold;
}

/* Takım container'ı */
.team-container {
  display: flex; /* İçerikleri yatay olarak hizala */
  align-items: center; /* İçerikleri dikey olarak ortala */
  background-color: rgba(0, 0, 0, 0.75);
}

/* Takım ismi */
.team-name {
  margin-left: 5px; /* Takım ismi ile resim arasına 5px boşluk bırak */
  font-weight: bold; /* Kalın yazı */
}

/* Takım isimleri */
#drawContainer tbody td span {
  display: block; /* Blok element yap */
  padding: 3px; /* Yazı etrafında boşluk bırak */
  margin: 1px 0; /* Yukarı ve aşağıda 1px boşluk bırak */
  color: #fff; /* Beyaz yazı */
  font-weight: bold; /* Kalın yazı */
  text-align: center; /* Yazıyı ortala */
  font-family: Arial, sans-serif; /* UEFA'nın resmi web sitesinde kullanılan fonta benzer bir sans-serif font */
}

/* Pot başlıkları */
#drawContainer thead td span {
  display: block; /* Blok element yap */
  padding: 10px; /* Yazı etrafında boşluk bırak */
  color: #fff; /* Beyaz yazı */
  font-weight: bold; /* Kalın yazı */
  text-align: left; /* Yazıyı ortala */
  font-family: Arial, sans-serif; /* UEFA'nın resmi web sitesinde kullanılan fonta benzer bir sans-serif font */
}

/* Pot başlıkları */
#pot-1-heading,
#pot-2-heading,
#pot-3-heading,
#pot-4-heading {
  background: linear-gradient(
    to right,
    #db27fa,
    #b826e6,
    #9c1cc4,
    #74189b
  ); /* Gradiant geçiş */
}

#buttonContainer {
  display: flex;
  justify-content: center; /* Butonu yatayda ortala */
  margin-top: 20px; /* Yukarıdan boşluk bırak */
}

#drawButton {
  background: linear-gradient(
    to right,
    #db27fa,
    #b826e6,
    #9c1cc4,
    #74189b
  ); /* Gradiant geçiş */
  border: none;
  border-radius: 5px; /* Sert köşeler */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
#drawButton:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2); /* Parlak pembe ışık */
}

#groupContainer {
  display: flex;
  justify-content: space-around; /* Grup tablolarını eşit aralıklarla yatayda hizala */
  flex-wrap: wrap; /* Eğer grup tabloları yatay sığmazsa, alt satıra geçsin */
}

/* Grup tablolarının stilleri */
#groupContainer table {
  margin: 20px; /* Her bir grup tablosu arasında 20px boşluk bırak */
  width: 180px; /* Tabloların genişliğini ayarla */
  border-collapse: collapse; /* Hücre sınırlarını birleştir */
  color: #fff; /* Beyaz yazı */
  border: none; /* Border'ı kaldır */
}

/* Tablo başlık stil */
#groupContainer th,
#groupContainer td {
  text-align: center;
  border: none; /* Border'ı kaldır */
}

/* Başlık hücreleri */
#groupContainer th {
  background-color: #151f35; /* Slightly darker blue for headings */
  font-weight: bold;
}

/* Takım container'ı */
#groupContainer .team-container {
  display: flex; /* İçerikleri yatay olarak hizala */
  align-items: center; /* İçerikleri dikey olarak ortala */
  background-color: rgba(0, 0, 0, 0.75);
}

/* Takım ismi */
#groupContainer .team-name {
  margin-left: 5px; /* Takım ismi ile resim arasına 5px boşluk bırak */
  font-weight: bold; /* Kalın yazı */
}

/* Takım isimleri */
#groupContainer tbody td span {
  display: block; /* Blok element yap */
  padding: 3px; /* Yazı etrafında boşluk bırak */
  margin: 1px 0; /* Yukarı ve aşağıda 1px boşluk bırak */
  color: #fff; /* Beyaz yazı */
  font-weight: bold; /* Kalın yazı */
  text-align: center; /* Yazıyı ortala */
  font-family: Arial, sans-serif; /* UEFA'nın resmi web sitesinde kullanılan fonta benzer bir sans-serif font */
}

/* Pot başlıkları */
#groupContainer thead td span {
  display: block; /* Blok element yap */
  padding: 10px; /* Yazı etrafında boşluk bırak */
  color: #fff; /* Beyaz yazı */
  font-weight: bold; /* Kalın yazı */
  text-align: left; /* Yazıyı ortala */
  font-family: Arial, sans-serif; /* UEFA'nın resmi web sitesinde kullanılan fonta benzer bir sans-serif font */
}

/* Pot başlıkları */
#groupContainer #group-1-heading,
#groupContainer #group-2-heading,
#groupContainer #group-3-heading,
#groupContainer #group-4-heading {
  background: linear-gradient(
    to right,
    #db27fa,
    #b826e6,
    #9c1cc4,
    #74189b
  ); /* Gradiant geçiş */
}
.team-container {
  opacity: 0; /* İlk başta takım container'ını gizle */
  animation: fadeIn 1s forwards; /* fadeIn adında bir animasyon kullan, 1 saniyede tamamlansın */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Başlangıçta tamamen saydam */
  }
  to {
    opacity: 1; /* Sonunda tamamen görünür hale gelsin */
  }
}
