iframe {
  position: bottom;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  opacity: 1;
}

#welcomeScreen {
  background-image: url("image/background_full.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 1s ease; /* Geçiş efekti (1 saniye) */
  opacity: 1;
}

.welcomeLogo {
  width: 60px;
  height: 60px;
}
h1,
#scrollText,
.championsLeagueText {
  font-family: "Lato", "sans-serif";
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
#scrollText {
  font-size: x-small;
}
#contentContainer {
  display: none;
}

body {
  background: linear-gradient(to top right, #ff13fc, #9225fe, #1938fe, #00004b);
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
#drawContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

#drawContainer table {
  margin: 0 5px;
  width: 180px;
  border-collapse: collapse;
  color: #fff;
  border: none;
}

/* Tablo başlık stil */
#drawContainer th,
#drawContainer td {
  text-align: center;
  border: none;
}

#drawContainer th {
  background-color: #151f35;
  font-weight: bold;
}

.team-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.team-name {
  margin-left: 5px;
  font-weight: bold;
}

#drawContainer tbody td span {
  display: block;
  padding: 3px;
  margin: 1px 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#drawContainer thead td span {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

#drawButton {
  background: linear-gradient(to right, #db27fa, #b826e6, #9c1cc4, #74189b);
  color: white;
}

#nextButton {
  background: linear-gradient(to right, #14223e, #3968a5, #78aad8);
  color: white;
}
#groupContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#groupContainer table {
  margin: 20px;
  border-collapse: collapse;
  color: #fff;
  border: none;
}

#groupContainer th,
#groupContainer td {
  text-align: center;
  border: none;
}

#groupContainer th {
  background-color: #151f35;
  font-weight: bold;
}

#groupContainer .team-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

#groupContainer .team-name {
  padding: 4px;
  margin-left: 5px;
  font-weight: bold;
}

#groupContainer tbody td span {
  display: block;
  padding: 3px;
  margin: 1px 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#groupContainer thead td span {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
}

#pot-1-heading,
#pot-2-heading,
#pot-3-heading,
#pot-4-heading,
#groupContainer #group-1-heading,
#groupContainer #group-2-heading,
#groupContainer #group-3-heading,
#groupContainer #group-4-heading {
  background: linear-gradient(to right, #db27fa, #b826e6, #9c1cc4, #74189b);
}
.team-container {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 7.3px;
  }

  .ucllogo {
    display: none;
  }

  .team-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
  }

  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
  }

  #drawContainer table {
    margin: 0 auto;
  }

  th,
  td {
    text-align: center;
  }

  #groupContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
  }

  #groupContainer table {
    margin: 1px;
    width: 30px;
    color: #fff;
    border: none;
  }

  #groupContainer tbody td span,
  #groupContainer thead td span {
    margin: 0 auto;
    display: block;
    margin: 1px 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  #groupContainer thead td span {
    text-align: left;
  }
}

#tournament-results-table {
  border-collapse: collapse;
  width: 65%;
  background-color: white;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

#tournament-results-table th,
#tournament-results-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

#tournament-results-table th {
  background: #d901ffb3;
  color: white;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#tournament-results-table td:first-child {
  width: 5%;
}

#tournament-results-table td:nth-child(2) {
  width: 60%;
}
#tournament-results-table td:nth-child(2) img {
  width: 24px;
  height: 24px;
}
#tournament-results-table td:nth-child(3) {
  width: 5%;
}

.team-rank-green {
  background-color: rgba(0, 255, 38, 0.765) !important;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
  color: white !important;
}

.team-rank-yellow-orange {
  background-color: rgba(255, 154, 0, 0.765) !important;
  color: white !important;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.team-rank-red {
  background-color: rgba(255, 0, 0, 0.765) !important;
  color: white !important;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.group-container {
  margin-bottom: 10px;
  border: 1px solid #d901ffb3;
  padding: 5px;
  max-width: 250px;
  display: inline-block;
  background-color: #d901ffb3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.team-logo {
  width: 24px; /* Logo boyutunu küçült */
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 50%; /* Dairesel logo */
}

.group-header {
  font-size: 1em; /* Font boyutunu küçült */
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.team-header {
  font-size: 0.9em; /* Font boyutunu küçült */
  margin-bottom: 3px;
  color: white;
  background-color: #696969; /* Arka plan rengi ekle */
  padding: 3px 5px;
  border-radius: 4px;
}

.match-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 0.8em; /* Font boyutunu küçült */
}

.match-table th {
  padding: 3px 5px; /* Hücre içi dolgu alanını küçült */
  text-align: left;
  background: #333; /* Başlık hücrelerinin arka plan rengi */
  font-weight: normal; /* Font ağırlığını normal yap */
}

.match-table td {
  padding: 3px 5px;
  font-size: 0.8em;
  border-top: 1px solid #555;
}

.match-table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
